<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.spring.dao.PinglunhuifuMapper">
    <resultMap id="BaseResultMap" type="com.spring.entity.Pinglunhuifu">
        <id column="id" property="id" jdbcType="INTEGER"/>
                            <result column="pinglunid" property="pinglunid" jdbcType="INTEGER"/>
                                    <result column="biao" property="biao" jdbcType="VARCHAR"/>
                                    <result column="biaoid" property="biaoid" jdbcType="INTEGER"/>
                                    <result column="biaoti" property="biaoti" jdbcType="VARCHAR"/>
                                    <result column="pinglunneirong" property="pinglunneirong" jdbcType="VARCHAR"/>
                                    <result column="pinglunren" property="pinglunren" jdbcType="VARCHAR"/>
                                    <result column="huifuneirong" property="huifuneirong" jdbcType="VARCHAR"/>
                                    <result column="huifuren" property="huifuren" jdbcType="VARCHAR"/>
                                    <result column="addtime" property="addtime" jdbcType="VARCHAR"/>
                                
    </resultMap>
    <sql id="Base_Column_List">
        id, pinglunid, biao, biaoid, biaoti, pinglunneirong, pinglunren, huifuneirong, huifuren, addtime    </sql>
    </mapper>
